.hidden {
    display: none;
}

.show {
    display: flex;
}

.sound_button {
    background-color: rgb(67, 219, 2);
    color: white;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    font-size: 15px;
    width: 15%;
    transition: background-color 0.3s ease;
}

.sound_button:hover {
    background-color: rgb(10, 193, 0);
    cursor: pointer;
}

.sound_button:disabled:hover {
    background-color: rgb(148, 234, 148);
    cursor: not-allowed;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5px;
    margin-bottom: 5px;
}

#idiot {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}

#ensavoirplus1 {
    position: absolute;
    top: 0;
    left: 35%;
    width: 4%;
}

#ensavoirplus2 {
    position: absolute;
    top: 0;
    left: 60.75%;
    width: 4%;
}

#canvas {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 8px;
}

#idiot_toggle {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#stop_toggle {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-align: center;
}